<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="exceptionHandler" type="ItSoftware.ExceptionHandler.ExceptionHandlerSectionHandler,ItSoftware.ExceptionHandler"/>
    <section name="inputParameters" type="ItSoftware.CompuFlow.Gateway.SectionHandlers.InputParametersSectionHandler,ItSoftware.CompuFlow.Gateway.SectionHandlers"/>
    <section name="responseInBrowser" type="ItSoftware.CompuFlow.Gateway.SectionHandlers.ResponseInBrowserSectionHandler,ItSoftware.CompuFlow.Gateway.SectionHandlers"/>
  </configSections>
  <appSettings>
    <add key="DestinationMsmqPath" value=".\private$\CompuFlowRetrival"/>
    <add key="EventsMsmqPath" value=".\private$\CompuFlowEvents"/>
    <add key="LogToEvents" value="True"/>
  </appSettings>
  <inputParameters>
    <defaultParameters>
      <parameterSet flowID="1">
        <add key="Site" value="http://www.vg.no"/>
      </parameterSet>
    </defaultParameters>
    <overrideParameters>
      <parameterSet flowID="1">
        <add key="Site" value="http://www.itavisen.no"/>
      </parameterSet>
    </overrideParameters>
  </inputParameters>
  <responseInBrowser>
    <add flowID="1" filename="test.html" contentType="text/html" charset="utf-8"/>
  </responseInBrowser>
  <exceptionHandler>
    <policy name="Information">
      <publisher name="EventLog" source="CompuFlow - Gateway" logName="ItSoftware" enabled="true" eventLogEntryType="Information">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Gateway-Log-I.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="EMail"
                 host=""
                 port="25"
                 fromAddress=""
                 toAddress=""
                 ccAddress=""
                 bccAddress=""
                 subject="An error occurred in CompuFlow"
                 enabled="false">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Warning">
      <publisher name="EventLog" source="CompuFlow - Gateway" logName="ItSoftware" enabled="true" eventLogEntryType="Warning">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Gateway-Log-W.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Error">
      <publisher name="EventLog" source="CompuFlow - Gateway" logName="ItSoftware" enabled="true" eventLogEntryType="Error">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Gateway-Log-E.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
  </exceptionHandler>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>