<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ItSoftware.CompuFlow.ControlCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>

    <section name="exceptionHandler" type="ItSoftware.ExceptionHandler.ExceptionHandlerSectionHandler,ItSoftware.ExceptionHandler"/>

  </configSections>
  <applicationSettings>
    <ItSoftware.CompuFlow.ControlCenter.Properties.Settings>
      <setting name="RetrivalAddress" serializeAs="String">
        <value>net.pipe://ItSoftware.CompuFlow.Retrival</value>
      </setting>
    </ItSoftware.CompuFlow.ControlCenter.Properties.Settings>
  </applicationSettings>
  <exceptionHandler>
    <policy name="Information">
      <publisher name="EventLog" source="CompuFlow - Control Center" logName="ItSoftware" enabled="true" eventLogEntryType="Information">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-CC-Log-I.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="EMail" host="smtp2go.com" port="2525" fromAddress="kjetil@kjetil.info" toAddress="kjetil@kjetil.info" ccAddress="kjetil@kjetil.info" bccAddress="kjetil@kjetil.info" subject="An error occurred in CompuFlow - Control Center" enabled="false">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Warning">
      <publisher name="EventLog" source="CompuFlow - Control Center" logName="ItSoftware" enabled="true" eventLogEntryType="Warning">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-CC-Log-W.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Error">
      <publisher name="EventLog" source="CompuFlow - Control Center" logName="ItSoftware" enabled="true" eventLogEntryType="Error">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-CC-Log-E.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
  </exceptionHandler>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>