<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandler" type="ItSoftware.ExceptionHandler.ExceptionHandlerSectionHandler,ItSoftware.ExceptionHandler"/>
  </configSections>
  <appSettings>
    <add key="SourceMsmqPath" value=".\private$\CompuFlowEvents"/>
    <add key="HandlersDirectory" value="C:\ItSoftware CompuFlow\Events\Handlers\"/>
    <add key="TemporaryHandlerFilesDirectory" value="C:\ItSoftware CompuFlow\Events\Temporary Handler Files\"/>
    <add key="FailureDirectory" value="C:\ItSoftware CompuFlow\Events\Failure\"/>
  </appSettings>
  <exceptionHandler>
    <policy name="Information">
      <publisher name="EventLog" source="CompuFlow - Events" logName="ItSoftware" enabled="true" eventLogEntryType="Information">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Events-Log-I.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="EMail" host="smtp2go.com" port="2525" fromAddress="kjetil@kjetil.info" toAddress="kjetil@kjetil.info" ccAddress="kjetil@kjetil.info" bccAddress="kjetil@kjetil.info" subject="An error occurred in CompuFlow" enabled="false">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Warning">
      <publisher name="EventLog" source="CompuFlow - Events" logName="ItSoftware" enabled="true" eventLogEntryType="Warning">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Events-Log-W.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Error">
      <publisher name="EventLog" source="CompuFlow - Events" logName="ItSoftware" enabled="true" eventLogEntryType="Error">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Events-Log-E.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
  </exceptionHandler>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
