<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionHandler" type="ItSoftware.ExceptionHandler.ExceptionHandlerSectionHandler,ItSoftware.ExceptionHandler"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="ItSoftware.CompuFlow.Common.Status.Services.StatusInformationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://ItSoftwareCompuFlowRetrival"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="SourceMsmqPath" value=".\private$\CompuFlowPublisher"/>
    <add key="EventsMsmqPath" value=".\private$\CompuFlowEvents"/>
    <add key="PublishersDirectory" value="C:\ItSoftware CompuFlow\Publisher\Publishers\"/>
    <add key="TempDirectory" value="C:\ItSoftware CompuFlow\Publisher\Temp"/>
    <add key="TemporaryPublisherFilesDirectory" value="C:\ItSoftware CompuFlow\Publisher\Temporary Publisher Files\"/>
    <add key="FailureDirectory" value="C:\ItSoftware CompuFlow\Publisher\Failure\"/>
    <add key="Log" value="true"/>
  </appSettings>
  <exceptionHandler>
    <policy name="Information">
      <publisher name="EventLog" source="CompuFlow - Publisher" logName="ItSoftware" enabled="true" eventLogEntryType="Information">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Publisher-Log-I.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="EMail" host="smtp2go.com" port="2525" fromAddress="kjetil@kjetil.info" toAddress="kjetil@kjetil.info" ccAddress="kjetil@kjetil.info" bccAddress="kjetil@kjetil.info" subject="An error occurred in CompuFlow" enabled="false">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Warning">
      <publisher name="EventLog" source="CompuFlow - Publisher" logName="ItSoftware" enabled="true" eventLogEntryType="Warning">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Publisher-Log-W.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
    <policy name="Error">
      <publisher name="EventLog" source="CompuFlow - Publisher" logName="ItSoftware" enabled="true" eventLogEntryType="Error">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
      <publisher name="File" filename="c:\temp\CompuFlow-Publisher-Log-E.txt" overwrite="false" enabled="true">
        <formatter type="ItSoftware.ExceptionHandler.Formatters.DefaultFormatter"/>
      </publisher>
    </policy>
  </exceptionHandler>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
